{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- index-754:31-->
<head>
	<!--===== Meta Tag =====-->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="Profile of Subhadeep Pramanik  ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="cv, adrianalvird, Subhadeep Pramanik, contact, django , cyber security ">
	<meta name="Adrianalvird" content="root">

	 <!--	Css Links
    ==================================================-->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'fonts/flaticon.css' %}">
     <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="{% static 'css/color.css' %}" id="color-change">


     <!-- Favicon 
    ==================================================-->
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.png' %}">

      <!--	Title
    ==================================================-->
	<title>Subhadeep Pramanik</title>

</head>

<body id="top" class="page-load">
	<!--	Start Back to top
	=================================================-->
	<a href="#" id="scroll" style="display: none;"><span></span></a>
	<!--	End Back to top
	==================================================-->

	<!--	Preloader
	==================================================-->
	<div class="preloader">
		<div class="lds-css ng-scope">
			<div class="lds-spinner" style="100%;height:100%">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>

	
{% block body %} {% endblock %}



	<!--	Start Footer
	===================================================-->
	<footer class="p_20 color_primary bg_secondery text-center full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="copyright"><p><a href="#" target="_blank"></a>Thank You for Scrolling , But There is Nothing Left Except Follow Buttons</p></div> 
					<div class="socal_media">
								<ul><li>
									<a href="https://www.facebook.com/adrian.alvird"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="https://twitter.com/Adrianalvird"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									<a href="https://www.linkedin.com/in/adrianalvird"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
									<a href="https://www.instagram.com/adrian.alvird/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
									<a href="https://github.com/adrianalvird"><i class="fa fa-github" aria-hidden="true"></i></a>
									<a href="https://www.reddit.com/user/adrianalvird/"><i class="fa fa-reddit" aria-hidden="true"></i></a>
								</li></ul>
							</div>
				</div>
			</div>
		</div>
	</footer>
	<!--	End Footer
	===================================================-->
	</div>
</div>
<!--	Wrapper End
=======================================================-->
	<!--	Js Links
	===================================================-->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script>
		$(document).ready(function() {
		//=========================================
		//  Water Effect
		//=========================================
		
			$('.banner_water_effect').ripples({
			  resolution: 256,
			  dropRadius: 20,
			  perturbance: 0.03,
			  interactive:true,
			});
		//  Smoothscroll js
		//=========================================
		  $("a").on('click', function(event) {

			  if (this.hash !== "") {
				event.preventDefault();
			  
				var hash = this.hash;

				$('html, body').animate({
				  scrollTop: $(hash).offset().top 
				}, 1000, function(){
			 
				  window.location.hash = hash;
				});
			  }
			});
		 });
	</script>
</body>

<!-- index-754:31-->
</html>

