{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block body %}

			<!--    Page Banner Start
			==================================================-->
			<section class="banner background9 py_80 overlay_three full_row">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="banner_text text-center">
								<h1 class="page_banner_title color_white text-uppercase">Briefly Describe</h1>
								<div class="breadcrumbs m-auto d-inline-block">
									<ul>
										<li class="hover_gray"><a href="blog.html">Portfolio</a></li>
										<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
										<li class="color-default">Explaination</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			 <!--    Page Banner End
			==================================================-->
			 <!--    Blog Post Start
			==================================================-->
			<section class="blog_area py_80 bg_black full_row">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-lg-8">
							<div class="blog_details">
								<div class="blog_img overlay_one wow animated slideInUp"><img src="images/blog/01.jpg" alt="image"></div>
								<div class="blog_content bg_deepblack">
									<div class="blog_title mb_20 color_white">
										<h5>In faucibus donec varius. Potenti velit nam pede justo. Condimentum interdum quisque aenean ligula dapibus amet semper nisi tempor cras.</h5>
									</div>
									<div class="admin mr_20">
										<img src="images/about/02.jpg" alt="image">
										<span class="color_primary">By - Rockstar Jack</span>
									</div>
									<div class="date color_lightgray float-left">20 Jan 2019</div>
									<div class="comments">
										<i class="fa fa-comment" aria-hidden="true"></i>
										<span class="color_lightgray">12</span>
									</div>
									<div class="single_blog_content d-inline-block mt_30 color_secondery wow animated slideInUp">
										<p>Dictumst augue tortor laoreet. Commodo ad laoreet parturient magna tristique elementum facilisis sodales velit morbi nostra iaculis, fermentum bibendum. Congue per Ornare in placerat. phasellus dapibus ullamcorper dolor pellentesque aliquam nibh ultrices aliquam netus consectetuer Etiam tempus nam ridiculus fringilla elementum pharetra tempor torquent purus purus. Neque. Lorem. Eget montes pretium donec mus tincidunt venenatis interdum.</p>
										<p class="mt_15 wow animated slideInUp">Sit lacinia dolor arcu vel quisque neque felis proin ante, nisl amet vitae nullam placerat elementum varius cum viverra, vel mattis elit praesent iaculis sollicitudin bibendum est consequat tempus hac ante pulvinar leo suspendisse tellus dictum. Morbi, venenatis ullamcorper.</p>
										<blockquote class="color_lightgray mt_15 wow animated slideInUp"><sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup> Netus vestibulum nostra facilisi tellus. Id taciti dapibus Platea tincidunt quis sollicitudin dignissim penatibus orci primis cum ullamcorper euismod, potenti tincidunt praesent ipsum aug. Ullamcorper cras vestibulum urna inceptos Neque curae; feugiat mattis auctor nec tortor faucibus. Elit vehicula nibh dolor litora. Placerat ad mauris. Dapibus hymenaeos. Potenti.<sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup></blockquote>
										<p class="mt_15">Ante nascetur class fames leo nisi arcu Fringilla sapien Netus libero nisl lacinia id urna commodo tellus volutpat. Integer ridiculus consectetuer ut lacus. Platea ante at dis cras sed pharetra dictumst dui tellus condimentum duis pellentesque. Cubilia scelerisque nascetur nostra proin bibendum inceptos. Inceptos fringilla malesuada ut feugiat mus phasellus Nunc cubilia. Turpis tristique luctus libero est tortor nostra orci commodo nullam rhoncus Lacus ante morbi. Ante vitae nullam nisi.</p>
									</div>
									<div class="share_post mt_30 wow color_secondery animated slideInUp">
										<h4 class="float-left mr_20">Follow Me On: </h4>
										<div class="socal_media_2 d-inline-block white_hover">
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-reddit" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
						<div class="col-md-4 col-lg-4">
							<div class="blog_sidebar">
								<div class="widget mb_60 d-inline-block p_30 bg_deepblack full_row wow animated slideInUp">
									<h3 class="widget_title mb_30 color_white text-capitalize">Follow Me</h3>
									<div class="socal_media">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="widget mb_60 d-inline-block p_30 white_link color_white bg_deepblack full_row wow animated slideInUp">
									<h3 class="widget_title mb_30 color_white text-capitalize">Category</h3>
									<div class="category_sidebar">
										<ul>
											<li><a href="#">Web Development</a><span>(14)</span></li>
											<li><a href="#">Web Design</a><span>(07)</span></li>
											<li><a href="#">Graphic Design</a><span>(10)</span></li>
											<li><a href="#">UI/UX Design</a><span>(12)</span></li>
											<li><a href="#">Consultation</a><span>(18)</span></li>
										</ul>
									</div>
								</div>
								<div class="widget mb_60 d-inline-block p_30 bg_deepblack white_link full_row wow animated slideInUp">
									<h3 class="widget_title mb_30 color_white text-capitalize">Recent Post</h3>
									<div class="recent_post">
										<ul>
											<li class="mb_30">
												<a href="#">
													<div class="post_img"><img src="images/recent-post/01.jpg" alt="image"></div>
													<div class="recent_post_content">
														<h6>Convallis pulvinar morbi. Aenean nisi vitae metus.</h6>
														<span class="color_gray">30 Jan 2019</span>
													</div>
												</a>
											</li>
											<li class="mb_30">
												<a href="#">
													<div class="post_img"><img src="images/recent-post/02.jpg" alt="image"></div>
													<div class="recent_post_content">
														<h6>Eleifend ante hac quam. Rhoncus dapibus morbi.</h6>
														<span class="color_gray">28 Jan 2019</span>
													</div>
												</a>
											</li>
											<li class="mb_30">
												<a href="#">
													<div class="post_img"><img src="images/recent-post/03.jpg" alt="image"></div>
													<div class="recent_post_content">
														<h6>Felis cum, elementum. Rhoncus aliquam cras.</h6>
														<span class="color_gray">25 Jan 2019</span>
													</div>
												</a>
											</li>
											<li class="mb_30">
												<a href="#">
													<div class="post_img"><img src="images/recent-post/04.jpg" alt="image"></div>
													<div class="recent_post_content">
														<h6>Turpis eleifend dis platea lectus nam eleifen etiam.</h6>
														<span class="color_gray">24 Jan 2019</span>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="widget mb_60 d-inline-block p_30 bg_deepblack white_link full_row wow animated slideInUp">
									<h3 class="widget_title mb_30 color_white text-capitalize">Archives</h3>
									<div class="archives">
										<ul>
											<li><a href="#">December 2018</a></li>
											<li><a href="#">November 2018</a></li>
											<li><a href="#">October 2018</a></li>
											<li><a href="#">September 2018</a></li>
											<li><a href="#">August 2018</a></li>
											<li><a href="#">July 2018</a></li>
										</ul>
									</div>
								</div>
								<div class="widget mb_60 d-inline-block p_30 bg_deepblack full_row wow animated slideInUp">
									<h3 class="widget_title mb_30 color_white text-capitalize">Archives</h3>
									<div class="tags">
										<ul>
											<li><a href="#">Design</a></li>
											<li><a href="#">Photographer</a></li>
											<li><a href="#">Developer</a></li>
											<li><a href="#">Fashion</a></li>
											<li><a href="#">Coder</a></li>
											<li><a href="#">Articles</a></li>
											<li><a href="#">Mordan</a></li>
											<li><a href="#">Web</a></li>	
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			 <!--    Blog Post End
			==================================================-->

{% endblock %}
