{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block body %}



	<!--	Start Skill
	===================================================-->
	<section id="skill" class="py_80 bg_secondery full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
	                    <h2 class="title text-uppercase"><span class="line_double mx-auto color_default">skill</span>My Skills</h2>
	                    <span class="sub_title">Skills never would be enough for me , Since I am Penetration Tester | Cyber Security Enthusiast </span>
	                </div>
				</div>
			</div>
			<div class="my_skill">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<div class="about_myskill color_secondery wow animated slideInLeft">
							<h2 class="color_primary">Troubleshootings</h2>
							<p class="pt_15">I've Great Skills to fix troubleshooting </p>
							<p class="pt_15">I mentioned in my resumes what can I do and what I will but still you've doubt ok, let's take a look , just scrool down page and you'll see  </p>							
							<p class="pt_15">Since I am Penetration tester not a Developer , I don't know Web Developing , and don't know html css and other languages , but still can Read & Understand and can Modify ... This Website is perfect example of that</p>
							<h2 class="color_primary">Quick Learner</h2>
							<p class="pt_15">Everything , even if I never been introduced , I can Learn that topic if I interested to that    </p>
						
						</div>
					</div>
				
					<div class="col-md-12 col-lg-6">
						<div class="skill-progress wow animated slideInRight">
		                    <div class="prgs-bar fact-counter"> <span>Web Application Penetration Testing</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="60">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>Linux</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="80">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemax="100"> </div>
								</div>
					    </div>
		                    <div class="prgs-bar fact-counter"> <span>C Programming</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="60">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemax="100"> </div>
								</div>
					    </div>
		                    <div class="prgs-bar fact-counter"> <span>Python</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="70">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemax="100"> </div>
								</div>
					    </div>
		                    <div class="prgs-bar fact-counter"> <span>Bash</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="70">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>Cyber Security</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="90">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>IP Subnetting</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="70">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>Django Backend</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="55">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemax="100"> </div>
								</div>
							</div>
				    <div class="prgs-bar fact-counter"> <span>GCP</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="60">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>Social Engineering</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="70">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemax="100"> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--	End Skill
	===================================================-->



{% endblock %}

